[submodule "rust"]
	path = mirilli-rust
	url = https://github.com/icmccorm/rust.git
	branch = miri
	shallow = true
[submodule "rllvm-as"]
	path = rllvm-as
	url = https://github.com/icmccorm/rllvm-as
[submodule "mirilli-tex"]
	path = mirilli-tex
	url = https://github.com/icmccorm/mirilli-tex
